<div class="menu_content">
  <div class="menu_all">
    <div class="top_menu_title">
      <h1>Trà</h1>
    </div>
  </div>
  <div class="m1">
    <div class="menu_item">
      <img src="https://product.hstatic.net/1000075078/product/1669736819_tra-dao-cam-sa-da_fb3645030f6d4354b8eb92380d6c7512_large.png" alt="Tra dao cam sa da">
      <a href="#"><h4>Trà đào cam sả đá</h4></a>
      <p>Giá: 49.000đ</p>
    </div>
    <div class="menu_item">
      <img src="https://product.hstatic.net/1000075078/product/tdcs-nong_288997_fedd8d4d916c4763a41b196edcd1acd0_large.jpg" alt="Tra dao cam sa nong">
      <a href="#"><h4>Trà đào cam sả nóng</h4></a>
      <p>Giá: 55.000đ</p>
    </div>
    <div class="menu_item">
      <img src="https://product.hstatic.net/1000075078/product/tra-sen_905594_5511685298fe4a57bed40df1658b23dd_large.jpg" alt="Tra hat sen da">
      <a href="#"><h4>Trà hạt sen đá</h4></a>
      <p>Giá: 49.000đ</p>
    </div>
    <div class="menu_item">
      <img src="https://product.hstatic.net/1000075078/product/tra-sen-nong_025153_e3b29a48d10f4280abd302e0e841a996_large.jpg" alt="Tra hat sen nong">
      <a href="#"><h4>Trà hạt sen nóng</h4></a>
      <p>Giá: 55.000đ</p>
    </div>
    <div class="menu_item">
      <img src="https://product.hstatic.net/1000075078/product/tra-nhan-da_484810_9f0a9e446d244110a758c7b56393ee22_large.jpg" alt="Tra long nhan hat chia da">
      <a href="#"><h4>Trà long nhãn hạt chia</h4></a>
      <p>Giá: 49.000đ</p>
    </div>
    <div class="menu_item">
      <img src="https://product.hstatic.net/1000075078/product/nhan-hat-chia--nong_140427_a01a1f4bdd3b43438986b8f24dd94502_large.jpg" alt="Tra long nhan hat chia nong">
      <a href="#"><h4>Trà long nhãn hạt chia nóng</h4></a>
      <p>Giá: 55.000đ</p>
    </div>
    <div class="menu_item">
      <img src="https://product.hstatic.net/1000075078/product/1669707518_s-more-choco_0eea2ddb8ae1484fb055d55344c4e55d_large.jpg" alt="Tra sua chocolate nong">
      <a href="#"><h4>Trà sữa chocolate nóng</h4></a>
      <p>Giá: 55.000đ</p>
    </div>
    <div class="menu_item">
      <img src="https://product.hstatic.net/1000075078/product/1669707486_very-berry_ee209363c11d4b3fb57f5af7bcb5546d_large.jpg" alt="Tra sua dua nong">
      <a href="#"><h4>Trà sữa dừa nóng</h4></a>
      <p>Giá: 55.000đ</p>
    </div>
    <div class="menu_item">
      <img src="https://product.hstatic.net/1000075078/product/tra-den-matchiato_430281_ab5a6ca2e5b148acbf7ef346dde53190_large.jpg" alt="Tra den machiato">
      <a href="#"><h4>Trà đen Machiato</h4></a>
      <p>Giá: 55.000đ</p>
    </div>
    <div class="menu_item">
      <img src="https://product.hstatic.net/1000075078/product/hong-tra-sua-tran-chau_326977_ece5f754ef6b4dbe8cb9c1d33d5e5bb1_large.jpg" alt="Hong tra sua tran chau">
      <a href="#"><h4>Hồng trà sữa trân châu</h4></a>
      <p>Giá: 55.000đ</p>
    </div>
    <div class="menu_item">
      <img src="https://product.hstatic.net/1000075078/product/hong-tra-sua-nong_941687_c7ee1cc2b89c4101b72bb63cabc4ef4a_large.jpg" alt="Hong tra sua nong">
      <a href="#"><h4>Hồng trà sữa nóng</h4></a>
      <p>Giá: 55.000đ</p>
    </div>
    <div class="menu_item">
      <img src="https://product.hstatic.net/1000075078/product/1669736877_tra-sua-oolong-nuong-tran-chau_d8e07cfcb89446e5a14d56ae0b74ca98_large.png" alt="Tra sua oolong nuong tran chau">
      <a href="#"><h4>Trà sữa Oolong nướng trân châu</h4></a>
      <p>Giá: 55.000đ</p>
    </div>
    <div class="menu_item">
      <img src="https://product.hstatic.net/1000075078/product/oolong-nuong-nong_948581_e8f652cb885443cdaeb84826305b3d40_large.jpg" alt="Tra sua oolong nuong nong">
      <a href="#"><h4>Trà sữa Oolong nướng nóng</h4></a>
      <p>Giá: 55.000đ</p>
    </div>
    <div class="menu_item">
      <img src="https://product.hstatic.net/1000075078/product/tra-sua-mac-ca_377522_4dff81175454449aa8ed9c947e8a11f3_large.jpg" alt="Ta sua mac ca tran chau">
      <a href="#"><h4>Trà sữa Mắc ca trân châu</h4></a>
      <p>Giá: 55.000đ</p>
    </div>
    <div class="menu_item">
      <img src="https://product.hstatic.net/1000075078/product/hong-tra-latte_618293_886aad2686644c36b74271358586b493_large.jpg" alt="Hong tra latte machiato">
      <a href="#"><h4>Hồng trà Latte Machiato</h4></a>
      <p>Giá: 55.000đ</p>
    </div>
  </div>
</div>
